# # Enviroment variables needed to connect to the LiveKit server.
# LIVEKIT_API_KEY=<your_api_key>
# LIVEKIT_API_SECRET=<your_api_secret>
# LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud
LIVEKIT_URL=wss://soul-ai-w0zf1p2s.livekit.cloud
LIVEKIT_API_KEY=APIQ2TwvMy4WEXR
LIVEKIT_API_SECRET=vek3yYmzf1ieuoTvhMczWtiENxXhQczoCLJ1hwHijWCB